.page-wrapper{
    width: 1002px;
    margin: 0 auto;
}


/*HEADER*/

.header-wrapper{
    width: 100%;
}

.body-wrapper{
    background: #fff;
}

.footer-wrapper{
    background-color: #6d6d6d;
}

.header-top-wrapper{
    background-color: #74d9ea;
    height: 85px;
}

.header-bottom-wrapper{
    background-color: #d1d1d1; 
    
}

.header-bottom-wrapper1{
    width: 938px; 
    margin: 0 auto;
    height: 40px
}

.header-top-wrapper1{
    width: 938px;
    margin: 0 auto;
}

.logo{
    padding: 20px 24px 16px 0;
    float: left;
    
}

.search{
    float: left;
    padding: 40px 216px 32px 0;
    margin-left: 24px;
    widows: 336px;
    
}

.user-info{
    padding: 28px 0 23px 0;
}

.user{
    float: right;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    
}

.action{
    list-style: none;url
    float: right;
    margin-top: -65px;
}

.action a{
    text-decoration: none;
    color: black;
}

.action li{
    display: inline-block;    
}

.bottom-left-wrapper{
    width: 560px;
    float: left;
    margin-left: -33px;
    margin-top: -15px

}

.bottom-right-wrapper{
    width: 320px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    float: right;
}

.invitation a{
    text-decoration: none;
    color: black;
}

.invitation{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.invitation li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
}

.friend-request{
    float: right;
    margin-top: -21px
}

span{
    font-size: 95%;
}

/*BODY*/

.body-wrapper1{
    width: 938px;
    margin: 0 auto;
    margin-top: 30px;
}

.left-item {
  background: #f5f5f5;
  width: 194px;
}

.left-item-top {
  background: #2fc1da;
  color: #ffffff;
  padding: 12px 0 12px 12px;
  font-size: 13pt;
}

.left-item-body ul {
  list-style-type: none;
}

.left-item-body ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 15px 10px;
}

.left-item-body ul li a span {
  display: inline-block;
  width: 140px;
  padding-right: 18px;
  font-size: 10pt;
}
.left-item-body ul li a:hover {
  background: #ffffff;
  color: #2fc1d9;
}

.left-item-body ul li a img {
  float: right;
}

/*r-right*/
.left-item.right {
  width: 176px;
}

.left-item.right ul li a {
  font-size: 9pt;
}

/* center */
.central-topic {
  font-size: 25pt;
  padding-bottom: 12px;
}

.central-list {
  border-bottom: 2px solid #2fc1da;
  text-align: center;
}

.left-image {
  background: url("Images/Tutangle-AllEntries_03.jpg") top left no-repeat;
}

.right-image {
  background: url("Images/Tutangle-Subscribed_03.jpg") top right no-repeat;
  padding: 0px 10px;
  overflow: hidden;
}

.name-list {
  padding: 12px 0;
  font-size: 10pt;
}

.left-list {
  width: 238px;
  background: #f5f5f5;
  float: left;
  padding-right: 10px;
}

.list-right {
  width: 238px;
  background: #f5f5f5;
  float: right;
  padding-left: 10px;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}

.left-button-image {
  background: url("Images/Tutangle-SmallLeftCurve_03.jpg") top left no-repeat;
}

.right-button-image {
  background: url("Images/Tutangle-SmallRightCurve_03.jpg") top right
    no-repeat;
  padding: 0px 10px;
}

.right-button-image a {
  display: inline-block;
  background: #dddddd;
  padding: 11px 0 5px 0;
  font-size: 9pt;
  width: 96px;
}

.bright-button-image a:hover {
  color: #949494;
}

.left-button-image.active {
  background: url("Images/Tutangle-SmallLeftColorCurve.jpg") top left no-repeat;
}

.right-button-image.active {
  background: url("Images/Tutangle-SmallRightColorCurve.jpg") top right no-repeat;
}

.right-button-image.active a {
  background: #2fc1da;
  color: #ffffff;
}

.right-button-image.active a:hover {
  color: #ddf0f3;
}


.center-entries ul li {
  padding: 15px 0;
  border-bottom: #d8d8d8 solid 1px;
}

.entry-content {
  padding: 0 10px;
}

.entry-content div a:hover {
  color: #8ee4f3;
}

.entry-type {
  color: #2e9db0;
  font-size: 10px;
  font-weight: bold;
}

.entry-type.alert {
  color: #d53f1c;
}

.entry-main {
  padding: 6px 0;
}

.entry-about {
  font-size: 11px;
  color: #707070;
}

.author-name {
  color: #2e9db0;
  font-weight: bold;
}

.subscribed {
  color: #709720;
  font-weight: bold;
}

.entry-topic-box {
  font-size: 11px;
  color: #707070;
  padding-top: 6px;
}


/*FOOTER */

.footer-wrapper1{
    width: 938px;
    margin: 0 auto;
    height: 45px;
}

.footer-left{
    float: left;
}

.footer-left a{
    text-decoration: none;
    color: #b2b2b2;
}

.footer-left li{
    list-style-type: none;
    float: left;
    margin-right: 17px;
    
}

.footer-left ul li:first-child{
	margin-left: -30px;
}

.footer-right{
    float: right;
    line-height: 45px;
    padding: 0 6px;
    color: #b2b2b2;
}


