*{
    padding: 0;
    margin: 0;
}

html,
body{
    width: 100%;
}

canvas{
    margin: 10px auto;
    height: 100%;
    position: relative;
    background-image: url(../Images/background.jpg);
    font-family: 'Indie Flower', cursive;
}

#text{
    cursor: pointer;
    position: absolute;
    top: 550px;
    left: 400px;
    height: 50px;
    width: 200px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: #ff7676;
    font-family: 'Indie Flower', cursive;
    transform: scale(1.0);
    transition: transform 0.2s;
}

#text:hover{
    transform: scale(1.3);
}

#instruction{
    cursor: default;
    position: absolute;
    top: 80px;
    left: 150px;
    font-size: 200%;
    color: #ffffff;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    transform: scale(1.0);
    transition: transform 0.2s;
}

#instruction:hover{
    transform: scale(1.3);
}

#score{
    position: absolute;
    top: 20px;
    left: 10px;
    height: 30px;
    width: 30px;
    font-size: 24px;
    background-color: #494949;
    border: none;
    color: #fff;
    font-family: 'Indie Flower', cursive;
}

#game-over{
    position: absolute;
    top: 200px;
    left: 120px;
    height: 50px;
    font-size: 70px;
    text-align: center;
    border: none;
    color: rgb(0, 255, 13);
    display: none;
    font-family: 'Indie Flower', cursive;
}