/* For tablet */

@media screen and (min-width: 760px) {
    htmk,
    body{
        width: 47.5em;

    }
    
    .birdimg{
        margin-top: 30px;
        margin-left: 20%;
        width: 30%;
    }
    
    .text{
        margin-right: 30%;
        font-size: 140%;
    }
    .design{
        margin-left: 20%;
    }
    
    .money-guarantee {
        margin-left: 3%;
    }
    
    .section-design h2{
        margin-right: 25%;
        font-size: 180%;
    }
    
    .paragraph1{
        margin-right: 10%;
    }
    
    .design-photo{
        margin-left: 13%;
    }
    
    .view-all-categories{
        margin-left: -8%;
            
    }
    
    .black h2{
        margin-left: -40%;
    }

    .black p{
        margin: 0 9px;
    }

    .black img{
        margin: 0 25px;
    }
    
    .page3 h2{
        font-size: 140%;
        margin-right: 20%;
    }


    .page3 img{
        margin: 20px 170px 30px 170px;
    }

    .page3 p{
        font-size: 60%;
    }
    
    .made-easy{
        margin-left: 10%;
    }
    
    .section-example{
        margin-left: 10%;
    }
    
    .section-testimonials{
        margin-left: -21%;
    }
    
    .testimonials1 img{
        margin-left: 48%;
    }
    
    .testimonials1 p{
        margin-left: 20%;
        font-size: 80%;
    }

    .page5 img{
        margin-left: -10%;
    }
    
    .page5 h2{
        margin-left: -20%;
    }
    
    .page6{
        margin-left: -20%;
        padding: 0 2%;
    }
    
}


/* For Standard Desktop */

@media screen and (min-width: 1140px){
    
    html,
    body{
        min-width: 71.25em;
    }
    
    .row{
        min-width: 60.8854166666666666666%;
        
    }
    
    header{
        
    }
    
    .headerB{
        display: none;
    }
    
    .headerA{
        display: contents;
    }
    
    .contactA{
        display: contents;
    }
    
    .social-iconsA li,
    .contactA li{
        display: inline-block;
        margin-right: 20px;
    }
    
    .page1 .logo{
        margin:0;
    }
    
    .navigation{
        display: contents;
    }
    
    .navigation li{
        display: inline-block;
    }
    
    .navigation li a{
        color: #000;
        font-size: 45%;
        margin-right: 10px;
    }
    
    .navigation li a:hover{
        color: #fd2e2e;
    }
    
    .birdimg{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 80px;
        padding-bottom: 25px;
        margin-bottom: 17px;
        margin-top: 192px;
    }
    
    .text{
        margin: 20px 0 108px 0;
        font-weight: 700;
    }
    
    .row2 .get-started{
        margin-left: 41%;
    }
    
    .money-guarantee{
        margin-left: 29.5%;
        margin-bottom: 113px;
    }
    
    .section-design h2{
        margin-left: auto;
        margin-right: auto;
    }
    
    .paragraph1{
        margin-top: 55px;
        margin-bottom: 57px;
        margin-left: 10%;
        font-size: 70%;
    }
    
    
    .design-showcase li{
        float: left;
        width: 33%;
        
    }

    .design-photo{
        width: 100%;
        margin: 4% 4% ;
        overflow: hidden;
    }

    .design-photo img{
        width: 95%;
        
    }
    
    .view-all-categories{
        margin: 40px 0 80px 33%;
    }
    
    .black h2{
        font-size: 90%;
        margin-right: 19%;
}

    .black p{
        font-size: 40%;
        margin: 0 15px;
    }

    .black img{
        margin: 30px 25px 23px 25px;
    }

        
    .page3 h2{
        margin-top: 80px;
        font-size: 100%;
    }


    .page3 img{
        margin: 19px 0 30px 37%;
    }

    .page3 p{
        font-size: 60%;
        margin: 0 0 59px 15%;
    }

   
    
}








































