*{
    margin: 0;
    padding: 0;
}
  
.main-wrapper{
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 1000px;
    width: 1200px;
    background-color: #dadada;
    border: 2px solid rgb(0, 0, 0);
}
  
.BallStyle{
    border-radius: 50%;
    position: absolute;
}
