
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row:before,
.row:after {
    content:"";
    display:table;
}


.row:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0% 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  GRID OF SIX   ============================================================================= */


.span-5-of-6 {
  	width: 83.06%;
}


.span-1-of-6 {
  	width: 15.33%;
}

/*  GRID OF SIX   ============================================================================= */

.span-1-of-7 {
	width: 12.91%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
