*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #cdcdcd;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0px;
    word-spacing: 2px;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../Images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 1280px;
    margin: 0 auto;
}

header {
    background-color: green;
}

h1{
    margin-left: 20%;
}

#array-container {
    height: 80vh;
    position: relative;
}

#array-container div {
    display: inline-block;
    bottom: 0;
}

a {
    text-decoration: none;
    color: #cdcdcd;
}

.side-panel {
    text-align: center;
    font-size: 20px;
}


.class-algorithms li,
.class-array-generation li {
    padding: 10px;
    list-style-type: none;
}

.class-algorithms li{
    transform: scale(1.0);
    transition: transform 0.5s;
}

.class-algorithms li:hover {
    transform: scale(1.15);
}

.class-algorithms li a:hover{
    color: #fda50f;
}

.array-containerB {
    height: 25vh;
    position: relative;
}

.array-containerB div{
    display: inline-block;
    bottom: 0;
}

#icon-play{
    margin-left: 25%;
    font-size: 50px;
    margin-bottom: 10%;
}

p{
    margin-bottom: 20px;
    font-size: 70%;
}
