a{
    text-decoration: none;
    color: #dadada;
    font-size: 70%;
}

a:hover{
    color: #fd2e2e;
}

li{
    list-style: none;
}

section{
    display: block;
}

h2{
    text-align: center;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
}