* {
    margin: 0;
    padding: 0;
}


.body-wrapper{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    min-width: 480px;
}

.holder{
    width: 60.8854166666666666666%;
    margin: 0 auto;
}

.clearfix {zoom:1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
    zoom: 1;
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}


.col {
	display: block;
	float:left;
}

.col:first-child { margin-left: 0; }


.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}


	
.span-3-of-3 {
	width: 100%; 
}

.span-2-of-3 {
	width: 66.13%; 
}

.span-1-of-3 {
	width: 32.26%; 
}



	
.span-4-of-4 {
	width: 100%; 
}

.span-3-of-4 {
	width: 74.6%; 
}

.span-2-of-4 {
	width: 49.2%; 
}

.span-1-of-4 {
	width: 23.8%; 
}



